body {
  margin: 0 auto;
  width: 1100px;
  padding: 0;
  font-family: 'Lato', sans-serif;

}



/* ..............div test........... */
/* div{
  border: 1px solid red;
} */
/* //......................Top Bar......................... */
#topBar {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  height: 40px;
}
.nav-container{
  padding: 20px 0;
  height: 40px;
  flex-grow: 1;
}
#logo{
  top:10px;
  bottom:0;
  left:0;
  right:0;
  /* border-right: 1px grey solid; */
}
#Log-in-container{
  padding: 18px 0 18px 18px;
  height: 40px;
  flex-grow: 1;
}
img.sign-In-img{
  width: 165px;
}
#nav-list{
  flex-grow: 4;

}
.nav-section{
  padding: 0;
}
ul {
  display: flex;
  list-style-type: none;
  height: 40px;
}
/* giveli a class */
li{
  display: inline;
  border-left: 1px solid #ccc;
  text-align: center;
  padding: 10px 20px 0 20px;
}
li a{
  text-decoration: none;
}
.search-container{
  flex-grow: 4;
}
img.search-img{
width: 230px;
padding-top: 10px;
}
/*.....................navigation-primary......... */
.navigation-primary{
  position:absolute;
  top:60px;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
  background-color: #bb1919;
  height: 60px;
  width: 1000vw
}
/* ..................navigation List............ */
.narrow-band{
  position:absolute;
  top:120px;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
  width: 1000vw;
  height: 40px;
  background-color: #a91717;
}
/* ....................body-container............. */
div.container{
  position:absolute;
  top:110px;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
  width: 1100px;
}

div.nav-wide-list{
  height: 100px;
  background-color: blue;
}
/* ..................index container............. */
.index-container{
  height: 35px;
  padding: 16px;

}
.index-title{

}
/* ..................mini info................... */

.mini-info{
  padding: 20px 0 0 40px;
  height: 40px;
}
.mini-clock{
  vertical-align:middle;
  padding-right: 10px;
  height: 25px;
}
