body {
    font-family: Helmet,Freesans,Helvetica,Arial,sans-serif;
    margin: auto;
    padding: 0px;
    background: rgb(255, 255, 255);
}



/* ..............div test........... */
/* div{
  border: 1px solid red;
} */
/* //......................Top Bar......................... */
.top-banner {
    margin: auto;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1px;
}
.nav-container {
    display: flex;
    width: 1120px;
    height: 45px;
    margin: auto;
}
.logo-box {
    width: 110px;
    margin: 7px 1px 0px 0px;
    padding: 0 9px 0 15px;
}
#logo{
    width: 110px;
}
.SignIn-box {
    border-left: 1px solid #ccc;
}
#nav-signIn:hover{
  border-bottom: 4px solid #00b8e6;
}
#nav-signIn {
    width: 200px;
    padding-top: 5px;
}
#top-navigation1:hover{
    border-bottom: 4px solid red;
}
#top-navigation2:hover{
    border-bottom: 4px solid yellow;
}
#top-navigation3:hover{
    border-bottom: 4px solid blue;
}
#top-navigation4:hover{
    border-bottom: 4px solid #000080;
}
#top-navigation5:hover{
    border-bottom: 4px solid #008000;
}
#top-navigation6:hover{
    border-bottom: 4px solid #000066;
}
#top-navigation7:hover{
    border-bottom: 4px solid #000066;
}

.news-stripe {
    margin: auto;
    background-color: #bb1818;
    width: 100vw;
    height: 80px;
}

.nav-section{
      margin: 0;
      padding: 0;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.top-navigation {
    display: inline;
    text-align: center;
    border-left: 1px solid rgb(204, 204, 204);
    padding: 0px 15px;
    height: 45px;
}
li a{
    line-height: 2.5em;
    text-decoration: none;
    color: #333;
}
.search-container{

}
img.search-img{
width: 230px;
padding: 4px 6px;
border-left: 1px solid rgb(204, 204, 204);
}
/*.....................SECOND NAVIGATION......... */
.news-container {
  width: 1120px;
  padding: 10px 0 0 15px;
  font-family: Arial, Helvetica, freesans, sans-serif;
  font-size: 60px;
  color: white;
  margin: auto;
}
.bottom-red-stripe{
  height: 50px;
  background-color: #a91717;
  border-top: 1px solid #a91717;
}
.second-navigation{
  margin: auto;
  width: 1120px;
  font-size: 18px;
}
.navigation-wide-list_Link{
  color: #fff;
  cursor: pointer;
  padding: 10px 25px 7px 25px;;
  text-decoration: none;
  line-height: 0.5em;
  border-right: 1px solid #bb4545;
  position: relative;
  left: -13px;
}
.navigation-wide-list_Link:hover{
  border-bottom: 5px solid white;
}


/* .................INDEX-TITTLE-CONTAINER............. */
.index-tittle-container{
    width: 1120px;
    height: 50px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 2em;
    padding-left: 15px;
}
.index-tittle-container a{
  text-decoration: none;
  color: #222;
  padding-bottom: 4px;
  border-bottom: 4px solid #ff0404;
}

/* ....................body-container............. */
.content-container{
  display: flex;
  width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}
.column-primary{
  width: 710px;
  margin: 0;
  font-size: 1.3rem;
}
.author-profesion{
  font-size: 1.2em;
  color: #404040;
  margin: 16px 0;
}

}
/* ..................mini info................... */

div#mini-info {
}

#mini-info{
  height: 10px;
  margin: 45px 0;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 38px;
}
.mini-clock{
  vertical-align:middle;
  padding-right: 10px;
  height: 25px;
}
.date-container{
  display: flex;
  width: 750px;
}
#todays-date{
  padding-top: 6px;
}
/* .............Social Media.........*/
div.social-media-list{
  display: flex;
  position: relative;
  right: -332px;
  bottom: 13px;
  width: 300px;
}
.ex-facebook{
  fill: #3b5998;
}
.ex-facebook:hover{
  background-color: #3c5898;
  fill: white;
}
.ex-messengerdesktop{
  fill: #0084ff;
}
.ex-messengerdesktop:hover{
  background-color: #0084ff;
  fill: white;
}
.ex-twitter{
  fill: #1da1f2;
}
.ex-twitter:hover{
  background-color: #1da1f2;
  fill: white;
}
.ex-email{
  fill: #615f5d;
}
.ex-email:hover{
  background-color: #615f5d;
  fill: white;
}
.ex-share{
  padding: 16px;
  fill: #0b8a0b;
}
.ex-share:hover{
  background-color: #615f5d;
  fill: white;
}


/* .........BODY INTODUCTION............. */
.story-body__introduction h3{
  font-size: 22px;
}
.story-body__introduction p{
  font-size: 20px;
  line-height: 2;
  color: #666666;
}

/* .........................SECONDARY COLUMN................ */
.secondary-column{
  width: 100vw;
  height: 840px;
  margin-left: 25px;
}
.secondary-column h1{
  color: #666666;
}
.top-stories-column{
  width: auto;
  height: 500px;
  background-color: #ededed;
  padding: 20px 10px 20px 35px;
}
.top-stories-paragraph h2{
  font-size: 22px;
}
.top-stories-paragraph p{
  font-size: 20px;
  color: #666666;
}
/* ........Features.......... */
.feature-stories-tittle{
  width: auto;
  height: 600px;
  background-color: #ededed;
  margin-top: 35px;
  padding: 20px 10px 20px 35px;
}
.feature-stories-tittle img{
  width: 330px;
}
.feature-stories-tittle h3{
  color: #666666;
}
@media only screen and (max-width: 1050px) {
  body {
    height: 100vh;
  }
  .top-stories-column{
    height: 50%;
  }
  .secondary-column{
    position:absolute;
    top: 1400px;
    right:0;
  }
  .feature-stories-tittle{
    background-color: none;
    display: flex;
    height: 40%;
    margin-bottom: 30px;
  }

  .feature-story-container-1{
    position: absolute;
    top: 600px;
    left: 100px;
    width: 350px;
  }
  .feature-story-container-2{
    position: absolute;
    top: 600px;
    right: 80px;
    width:350px;
  }

}
